<header></header>
<md-content flex layout-padding>

    <div layout="row">
        <div flex="60">

            <div layout="row">
                <div flex="80">
                    <md-content class="md-no-momentum" layout-sm>
                        <md-input-container md-no-float class="md-block">
                            <md-icon><i class="material-icons" style="display:inline-block;">place</i></md-icon>
                            <label>Please type address here</label>
                            <input type="text" ng-model="address">

                        </md-input-container>
                    </md-content>
                </div>
                <div flex>
                    <md-button class="md-raised" ng-click="redrawMap()">Search</md-button>
                </div>
            </div>

            <div id="map"></div>
        </div>

        <div flex="40">
            <md-toolbar class="md-theme-indigo">
                <h1 class="md-toolbar-tools">Options</h1>
            </md-toolbar>

            <md-content layout-padding>
                <div ng-cloak>

                    <md-content>
                        <md-tabs md-dynamic-height md-border-bottom id="sideBarContent">
                            <md-tab label="Location info">
                                <md-content class="md-padding">
                                    <p class="info-text">Here you can see some details about this location</p>
                                    <div layout="column" ng-if="locationInfo.length !== 0" class="criteria-array">

                                        <div flex ng-repeat="item in locationInfo">
                                            <div layout="column">
                                                <h2 flex>{{item.criterion}}</h2>
                                                <span flex><b>rating: </b>{{ item.rating }}</span>
                                                <span flex><b>STATS |</b> minimum: {{item.stat.min}}, maximum: {{item.stat.max}},
                                                median: {{item.stat.median}}, average: {{item.stat.average}}</span>
                                                <span flex><b>value: </b>{{ item.value }}</span>
                                            </div>
                                        </div>

                                    </div>

                                </md-content>
                            </md-tab>
                            <md-tab label="Search location">
                                <md-content class="md-padding">
                                    <h1 class="md-display-2">Search location by criteria</h1>
                                    <p class="info-text">Here you can find locations that suit criteria you chosen. The "face" indicates whether you are positive about this criterion or not. Click on it to change this option</p>
                                    <div>

                                        <fieldset class="standard" ng-hide="chosenOptions.length === 0">
                                            <legend>CHOSEN CRITERIA</legend>
                                            <div ng-repeat = "criteria in chosenOptions">
                                                <md-slider-container layout="row">
                                                    <md-button flex="10" class="md-icon-button"
                                                               ng-click="criteria.positive = !criteria.positive">
                                                        <i class="material-icons postitive-face" ng-if="criteria.positive">mood</i>
                                                        <i class="material-icons negative-face" ng-if="!criteria.positive">mood_bad</i>
                                                    </md-button>
                                                    <span flex="20" class="criteria-name">{{ criteria.criterion }}</span>
                                                    <md-slider flex="60" class="md-primary" md-discrete
                                                               ng-model="criteria.weightingFactor"
                                                               step="1" min="0" max="10">
                                                    </md-slider>
                                                    <md-button flex="10" class="md-icon-button" ng-click="deleteOption(criteria)">
                                                        <i class="material-icons">close</i>
                                                    </md-button>

                                                </md-slider-container>

                                            </div>
                                            <md-button class="md-raised" ng-click="sendCriteria()">Submit</md-button>
                                        </fieldset>

                                        <p class="info-text">Please choose criteria to be selected</p>

                                        <div class="criteria-array">
                                            <div class="criteria-item" ng-repeat="criteria in criteriaArray">
                                                <md-button class="md-icon-button" ng-click="addOption(criteria)">
                                                    <i class="material-icons">control_point</i>
                                                </md-button>
                                                <span class="criteria-name">{{ criteria.criterion }}</span>
                                            </div>
                                        </div>

                                    </div>

                                </md-content>
                            </md-tab>
                        </md-tabs>
                    </md-content>

                </div>
            </md-content>
        </div>
    </div>


</md-content>