#map {
    width: 850px;
    height: 500px;
}

#sideBarContent {
    height: 500px;
    overflow-y: scroll;
}

.criteria-list-item {
    vertical-align: middle;
}

.criteria-list-item :hover {
    background-color: blue;
}

.postitive-face {
    color: darkgreen;
    font-size: large;
}

.negative-face {
    color: red;
    font-size: large;
}

.criteria-array {
    columns: 2;
}

.criteria-item {
    width: 300px;
}

.criteria-name {
    overflow: hidden;
}

.info-text {
    color: grey;
}